@font-face {
    font-family: 'Catalish Huntera';
    src: url('Catalish\ Huntera.woff2') format('woff2'),
         url('Catalish\ Huntera.woff') format('woff'),
         url('Catalish\ Huntera.ttf') format('truetype'),
         url('Catalish\ Huntera.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

